{
  "properties": {
    "displayName": {{ display_name | tojson }},
    "description": {{ description | tojson }},
    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1644/1.0.1644.3306/ifttt/icon.png",
    "state": "Started",
    "connectionReferences": {},
    "flowFailureAlertSubscribed": false
  },
  "schemaVersion": "1.0.0.0",
  "runtimeConfiguration": {
    "flowState": "Started",
    "statelessRunMode": "Stateful"
  }
}
