{
  "name": {{ workflow_name | tojson }},
  "projectId": "yigthinker-{{ workflow_name }}",
  "description": {{ description | tojson }},
  "main": "Main.xaml",
  "dependencies": {
    "UiPath.System.Activities": "[22.10.4]"
  },
  "webServices": [],
  "entitiesStores": [],
  "schemaVersion": "4.0",
  "studioVersion": "23.10.0",
  "projectVersion": "1.0.0",
  "runtimeOptions": {
    "autoDispose": false,
    "isAttended": false,
    "isPausable": false,
    "excludedLoggedData": [],
    "executionType": "Workflow"
  },
  "designOptions": {},
  "expressionLanguage": "VisualBasic",
  "entryPoints": [
    {
      "filePath": "Main.xaml",
      "uniqueId": "yigthinker-{{ workflow_name }}",
      "input": [],
      "output": []
    }
  ],
  "isTemplate": false,
  "templateProjectData": {},
  "targetFramework": "Windows"
}
